/*  global: override settings from pylons.css */

html, body, #top {
    background-color:#d9f0c8;
}
#wrap {
min-height: 80%;
}
#middle {
    border-top: 0;
    border-bottom: 0;
}


/* the form */

/* the background: green */
#bottom,
#wrap {background-color:#d9f0c8;}
/* subheadings: bright green */
h2.deform {color:#4dbd38;font-weight:bold;padding-top:10px;}
/* date of birth display with DatePartsWidget: control sizes */
input#date_of_birth { width:50px!important;}
#date_of_birth-month, #date_of_birth-day { width:25px!important;}
/* form subparts: /fieldset/legend */
#item-deformField1 > fieldset > legend {color:#4dbd38;font-weight:bold;}
#item-deformField13 > fieldset > legend {color:#4dbd38;font-weight:bold;}
#item-deformField18 > fieldset > legend {color:#4dbd38;font-weight:bold;}
/* general text imput fields: enlarge font a bit */
input[type=text],
select {
    font-size:120%;
    border-color:#4dbd38;
    padding: 10px;
    width:50%;} /* 320px!imp */
#password {
    font-size:120%;
    border-color:#4dbd38;
    padding: 10px;
    width:50%;} /* 320px!imp */
/* error messages: enlarge font a bit */
.error {
    font-size:120%;}
/* the number of shares display */
.num_shares_input {
    border: 0; color: #4dbd38; font-weight: bold;
    font-size:120%; width: 30px!important;
    background-color:#d9f0c8;}
.num_shares_input#num_shares-calculated {
    border: 0; color: #4dbd38; font-weight: bold;
    font-size:120%;text-align:right;width:45px!important;
    background-color:#d9f0c8;}
#slider-div-num_shares {width:60%;} /* 430px */
.ui-slider-handle {
    border:#d9f0c8;
    background:#4dbd38!important;}

/* https://redmine.c-3-s.org/issues/156 */
input {margin-right: 8px;}
a {text-decoration: underline;}

/* footer with image */
#footer {
    background-color:#d9f0c8!important;
    background-image:url(/static/g8532.png); background-repeat:repeat-x;
    height:300px;
}
.footer {
    height:auto;
    /* margin:40px 40px 20px 250px; */
    width:auto;
    /* border:1px solid red; */
    /* background-color:#ff00ff; */
    /* background-image:url(/static/g8532.png); background-repeat:no-repeat; */
    /* background-position:center center; */
    /* background-attachment:scroll; */
    vertical-align: bottom!important;
}

/* part 2 : the success page */

.c3s-subheading-4 {
    margin-top:20px;
    color:#4dbd38;
    font-weight:bold;}
.greenButton {
    color:#4dbd38;
    padding: 10px;
    border-color:#4dbd38;
    font-size:140%;
    font-weight:bold;
}